:root{
    --majorFont: 'Alata', sans-serif;
    --secondaryFont: 'Josefin Sans', sans-serif;
    --white: hsl(0,0%,100%);
    --balck:  hsl(0, 0%, 0%);
    --darkGray:  hsl(0, 0%, 55%);
    --veryDarkGray: hsl(0, 0%, 41%);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;

}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--majorFont);
    font-size: 1.6rem;
    line-height: 1;
}

/*Globales*/
.container{
    max-width: 120rem;
    width: 90%;
    /*alternativa a las dos lineas de arriba width:min(90%,120rem)*/
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: var(--white);
}

h1,h2,h3{
    font-family: var(--secondaryFont);
    text-transform: uppercase;

}
h2,h3,p{
    text-align: center;
}
p{
    color: var(--darkGray);
    line-height: 1.5;

}
h1{
    font-size: 4rem;
    line-height: 1;

}
img{
    max-width: 100%;
}


.header{
    background-image: url(../images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
    width: 100%;
    padding: 1rem;
}
.header-black{
    background-color: var(--balck);
    height: 55rem;
    width: 100%;
    padding: 1rem;
}
.header--titulo{
    border: 2px solid white;
    color: white;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 10rem;
    /* font-weight: lighter; */
}

.header--navegacion{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.close{
    display: none;
}
.header--nav{
    display: none;
    margin-top: 12rem;
    margin-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: lighter;
}

.main{
    margin-top: 10rem;
    padding: 1rem;
}
.boton{
    height: 4rem;
    border: 1px solid var(--balck);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 4rem;
    margin-bottom: 10rem;
    margin-top: 5rem;
}
.boton a{
    color: var(--black);
    text-transform: uppercase;
}

.footer{
    background-color: var(--balck);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
}
.footer--links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

h3{
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 0rem;
    left: 2rem;
    width: 40%;
    text-align: left;
}

.logos{
    margin: 5px;
}

article{
    border: 1px solid red;
    position: relative;
    margin: 3rem 0;

}

@media (min-width: 750px) {
    .section-noticias{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
        
    }
    .our-creations{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .boton{
        grid-row: 1;
        grid-column-start: 3;
        grid-column-end: 5;
        margin-top: 0;

    }

 
}