:root{
    --majorFont: 'Alata', sans-serif;
    --secondaryFont: 'Josefin Sans', sans-serif;
    --white: hsl(0,0%,100%);
    --balck:  hsl(0, 0%, 0%);
    --darkGray:  hsl(0, 0%, 55%);
    --veryDarkGray: hsl(0, 0%, 41%); 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: var(--majorFont);
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/
.container{
    max-width: 120rem;
    width: 90%;
    /*alternativa a las dos lineas de arriba width:min(90%,120rem)*/
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1,h2,h3{
    font-family: var(--secondaryFont);
    text-transform: uppercase;
}
h1{
    font-size: 4.0rem;
}
img{
    max-width: 100%;
}