:root {
    --majorFont: 'Alata', sans-serif;
    --secondaryFont: 'Josefin Sans', sans-serif;
    --white: hsl(0, 0%, 100%);
    --balck: hsl(0, 0%, 0%);
    --darkGray: hsl(0, 0%, 55%);
    --veryDarkGray: hsl(0, 0%, 41%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--majorFont);
    font-size: 1.6rem;
    line-height: 1;
}

/*Globales*/
.container {
    max-width: 120rem;
    width: 90%;
    /*alternativa a las dos lineas de arriba width:min(90%,120rem)*/
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--white);
}

h1,
h2,
h3 {
    font-family: var(--secondaryFont);
    text-transform: uppercase;

}

h2,
h3 {
    text-align: center;
}

p {
    color: var(--darkGray);
    line-height: 1.5;

}

h1 {
    font-size: 4rem;
    line-height: 1;

}

img {
    max-width: 100%;
}


.header {
    background-image: url(../images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
    width: 100%;
    padding: 1rem;
}

@media (min-width: 768px) {
    .header {
        background-image: url(../images/desktop/image-hero.jpg);
        padding: 4rem 5rem;
        height: 65rem;

    }

    .header--botones {
        display: none;
    }

}

.header-black {
    background-color: var(--balck);
    height: 55rem;
    width: 100%;
    padding: 1rem;
}

.header--titulo {
    border: 2px solid var(--white);
    color: var(--white);
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 10rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 6rem;

    }

    .header--titulo {
        max-width: 60rem;
        width: 90%;
        margin-left: 8%;
        padding: 4rem;
    }
}

.header--navegacion {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    align-items: center;
}

@media (min-width: 768px) {}

.close {
    display: none;
}

.display-none{
    display: none;
    margin-top: 12rem;
    margin-left: 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: lighter;
} 

.header--nav {
    display: none;
}

@media (min-width: 768px) {

    .display-none{
        display: none;
    }
    .header--nav {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }

    .header--nav a {
        margin: 1rem 0;
        margin-left: 2rem;
        padding: .5rem 0;
    }

    .header--nav a:hover {
        border-bottom: 2px solid white;

    }
}

.main {
    margin-top: 10rem;
    padding: 1rem;
}

.boton {
    border: 1px solid var(--balck);
    margin: auto;
    text-align: center;
    line-height: 4rem;

}

.boton {

    display: block;
    width: 100%;
    padding: 1rem 3rem;
    color: var(--black);
    text-transform: uppercase;
}


@media (min-width: 768px) {
    .boton {
        display: inline-block;
        width: 60%;
    }
}

h3 {
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 0rem;
    left: 2rem;
    width: 40%;
    text-align: left;
}

.logos {
    margin: 5px;
}

article {
    position: relative;
    margin: 3rem 0;

}

.pos--absolute {
    position: relative;
    margin-bottom: 5rem;
}

.pos--relative {
    position: relative;

}

@media (min-width: 768px) {
    .pos--absolute {
        margin-bottom: 15rem;
    }

    .pos--relative {
        position: absolute;
        height: 50%;
        width: 50%;
        top: 50%;
        left: 50%;
        padding: 5rem;
        background-color: var(--white);

    }

}


@media (min-width: 768px) {
    .section-noticias {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

    }

    .our-creations {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .boton {
        grid-row: 1;
        grid-column-start: 3;
        grid-column-end: 5;

    }

    .boton:hover {
        background-color: var(--balck);
        color: var(--white);
    }


}

.imagenes {
    width: 100%;
}

article:hover .imagenes {
    filter: opacity(0.48);
}

article:hover h3 {
    color: var(--balck);
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
}

.footer--links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

@media (min-width: 768px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .footer--links {
        flex-direction: row;
        justify-content: flex-start;
        grid-row: 2;
        grid-column: 1;
        
    }
    .footer--links a{
        padding: .5rem 0rem;
    }
    .footer--links a:hover{
        border-bottom: 2px solid white;
    }

    .footer .redes {
        display: flex;
        justify-content: flex-end;
    }

    .footer p {
        text-align: right;
    }
}
footer{
    margin-top: 2rem;
    background-color: var(--balck);
}